:root {
  --main-primary: #0b5fde;
  --grey: rgba(150, 156, 164, 0.14);
  --error: #e92444;
  --text-primary: #1f2022;
  --success: #11a16d;
  --cards-white: #fff;
  --background-grey: #eaecf0;
  --sofr-green: rgba(130, 249, 170, 0.14);
  --sofr-orange: rgba(255, 73, 84, 0.12);
  --grey-secondary: rgba(150, 156, 164, 0.09);
  --stroke-primary: rgba(150, 156, 164, 0.6);
  --stroke-secondary: rgba(150, 156, 164, 0.4);
  --text-secondary: rgba(31, 32, 34, 0.6);
  --stroke-tertiary: rgba(150, 156, 164, 0.2);
}
